<?xml version="1.0"?>

<launch>

    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="hokuyo3d_pointcloud_to_laserscan">
        <remap from="cloud_in" to="hokuyo3d/hokuyo_cloud2"/>
        <rosparam>
            prefix: hokuyo/
            points_num: 10
            front_fov: 90
            min_height: 0.01
            max_height: 1.0
            min_width: -0.5
            max_width: 0.5
            min_length: -0.5
            max_length: 0.5
            concurrency_level: 1
        </rosparam>
    </node>

</launch>
