<?xml version="1.0"?>

<launch>

    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="laserscan_to_pointcloud_node" name="urg_laserscan_to_pointcloud">
        <remap from="scan_in" to="/scan"/>
        <rosparam>
            prefix: urg_node/
            points_num: 10
            front_fov: 90
            min_width: -0.5
            max_width: 0.5
            min_length: -0.5
            max_length: 0.5
        </rosparam>
    </node>

</launch>
